/* MEDIA QUERIES

0 - 600px:      Phones
601px-900px:    Tablet Portrait
901px-1200px:   Tablet landscape
1201px-1800px:  Normal styles
1801px+         Big desktops

$breakpoint arguments:
- phone
- tab-port
- tab-land
- big-desktop


ORDER OF WORK: Base + Typography > general layout + grid > page layout > components
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: tab-land) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Spectral", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333333; }

a:link,
a:visited {
  text-decoration: none; }

button {
  font-family: inherit; }

input::-webkit-input-placeholder {
  font-family: "Spectral", sans-serif; }

.paragraph:not(:last-child) {
  margin-bottom: 1rem; }

.paragraph__highlight {
  color: #6271ff; }

.paragraph--grey {
  color: #777777; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-large {
  margin-top: 6rem; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.7rem 1.7rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn:active::after, .btn:focus::after {
    border: 0.1rem solid; }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.4s;
  z-index: -1; }

.btn--full-width {
  width: 100%; }

.btn--primary {
  background: linear-gradient(to right, #79ccff, #6271ff);
  border: none;
  color: #fff; }
  .btn--primary::after {
    background: linear-gradient(to right, #79ccff, #6271ff); }

.btn--large, .btn--large:link, .btn--large:visited {
  padding: 1.5rem 1.7rem; }

.btn--white {
  background-color: #fff;
  color: #777777;
  border: 0.4rem solid #fff; }
  .btn--white::after {
    background: #fff; }

.btn--empty {
  border: 0.4rem solid; }
  .btn--empty--white {
    color: #fff;
    border-color: #fff; }
    .btn--empty--white::after {
      border: 0.1rem solid #fff; }

@media (max-width: 37.5em) {
  .btn--respond-phone {
    background: linear-gradient(to right, #79ccff, #6271ff);
    border: none;
    color: #fff; } }

@media (max-width: phone) {
  .btn--respond-phone {
    background: linear-gradient(to right, #79ccff, #6271ff);
    border: none;
    color: #fff; } }

.sidebar-card {
  background-color: #fff;
  padding: 4rem 3rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  @media (max-width: 37.5em) {
    .sidebar-card {
      margin: 0 2rem; } }
  @media (max-width: phone) {
    .sidebar-card {
      margin: 0 2rem; } }
  .sidebar-card:not(:last-child) {
    margin-bottom: 4rem; }
  .sidebar-card__heading {
    margin-bottom: 2rem; }
  .sidebar-card__icon {
    display: inline-block; }
  .sidebar-card__title {
    font-size: 1.8rem;
    font-weight: 600; }
  .sidebar-card__content--full-width {
    margin: 0 -3rem -4rem -3rem; }
  .sidebar-card__row::after {
    content: "";
    clear: both;
    display: block;
    height: 0; }
  .sidebar-card__row:not(:last-child) {
    margin-bottom: 2%; }
  .sidebar-card__link {
    float: left;
    width: 32%; }
    .sidebar-card__link:not(:last-child) {
      margin-right: 2%; }
  .sidebar-card__photo {
    width: 100%;
    display: block; }

.form__group {
  margin: 0 auto; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }

.form__input {
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: #fff;
  border: 1px solid #79ccff; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-color: #6271ff; }
  .form__input:focus:invalid {
    border-color: #ff2e72; }
  .form__input::-webkit-input-placeholder {
    color: #777777; }

.social-media {
  margin-top: 3rem; }
  .social-media__list {
    list-style-type: none;
    font-size: 0;
    /* Eliminate spacing between inline block elements */
    text-align: justify;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 1.2rem; }
    .social-media__list:after {
      content: 'abc';
      display: inline-block;
      width: 100%;
      height: 0; }
  .social-media__list-item {
    display: inline-block;
    transition: transform 0.3s; }
    .social-media__list-item:not(:last-child) {
      margin-right: 2rem; }
    .social-media__list-item:hover {
      transform: scale(1.3); }
  .social-media__link {
    color: #000; }

@media (max-width: 37.5em) {
  .post {
    margin: 0 2rem; } }

@media (max-width: phone) {
  .post {
    margin: 0 2rem; } }

.post:not(:last-child) {
  margin-bottom: 4rem; }

.post__link:link, .post__link:visited {
  color: inherit; }

.post__title {
  font-size: 2rem;
  margin-left: 2rem; }

.post__content {
  display: table;
  border-spacing: 2rem; }

.post__left {
  display: table-cell; }
  @media (max-width: 37.5em) {
    .post__left {
      display: table-row; } }
  @media (max-width: phone) {
    .post__left {
      display: table-row; } }

.post__image {
  width: 15rem; }
  @media (max-width: 37.5em) {
    .post__image {
      width: 100%; } }
  @media (max-width: phone) {
    .post__image {
      width: 100%; } }

.post__right {
  display: table-cell;
  vertical-align: top; }
  @media (max-width: 37.5em) {
    .post__right {
      display: table-row; } }
  @media (max-width: phone) {
    .post__right {
      display: table-row; } }

.post__text {
  color: #333333; }

.post__details {
  margin-top: 0.5rem;
  color: #777777; }
  @media (max-width: 37.5em) {
    .post__details {
      margin-top: 2rem; } }
  @media (max-width: phone) {
    .post__details {
      margin-top: 2rem; } }

.post__details > * {
  float: left; }
  .post__details > *:not(:last-child) {
    margin-right: 3rem; }
  @media (max-width: 37.5em) {
    .post__details > * {
      float: none;
      display: inline-block; } }
  @media (max-width: phone) {
    .post__details > * {
      float: none;
      display: inline-block; } }

.post--blog {
  background-color: #fff;
  padding: 4rem 3rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s; }
  @media (max-width: 37.5em) {
    .post--blog {
      padding: 3rem 1.5rem; } }
  @media (max-width: phone) {
    .post--blog {
      padding: 3rem 1.5rem; } }
  .post--blog:hover {
    transform: translateY(-3px);
    box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.2); }

.post--project {
  height: 30rem;
  position: relative;
  perspective: 150rem; }

.post__side {
  height: 30rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 1s; }

.post__side--front {
  background-color: #fff;
  padding: 4rem 3rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.post__side--back {
  transform: rotateX(180deg);
  background: linear-gradient(to right bottom, #79ccff, #6271ff);
  overflow: hidden; }

.post--project:hover .post__side--front {
  transform: rotateX(180deg); }

.post--project:hover .post__side--back {
  transform: rotateX(360deg); }

.post--project .post__title {
  display: inline-block; }

.post__status {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  padding: 1px 1rem;
  margin-left: 2rem; }
  .post__status--live {
    background: #6271ff; }
  .post__status--shutdown {
    background: #e93e82; }

.post--project .post__details {
  margin-top: 1.5rem; }

.post__content-back {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%); }

.post__back-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #fff;
  margin-bottom: 0.5rem;
  letter-spacing: 1px; }

.post__technologies {
  font-weight: 500; }

.post__button {
  margin-top: 2.5rem;
  display: inline-block;
  z-index: 1000; }
  .post__button:not(:last-child) {
    margin-right: 2rem; }

.post__back-icon {
  font-size: 40rem;
  color: rgba(255, 255, 255, 0.65);
  position: absolute;
  top: -3rem;
  right: -6rem; }

@media (max-width: 37.5em) {
  .post--project {
    height: auto;
    position: relative;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .post__side {
    height: auto;
    position: relative;
    top: 0;
    left: 0; }
  .post__side--front {
    box-shadow: none; }
  .post__side--back {
    transform: rotateX(0);
    padding: 3rem 4rem; }
  .post--project:hover .post__side--front {
    transform: rotateX(0); }
  .post--project:hover .post__side--back {
    transform: rotateX(0); }
  .post--project .post__details {
    margin-top: 1.5rem; }
  .post__content-back {
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(0); }
  .post__back-title {
    display: none; }
  .post__back-icon {
    font-size: 20rem;
    color: rgba(255, 255, 255, 0.65);
    position: absolute;
    top: 5rem;
    right: -5rem; } }

@media (max-width: phone) {
  .post--project {
    height: auto;
    position: relative;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .post__side {
    height: auto;
    position: relative;
    top: 0;
    left: 0; }
  .post__side--front {
    box-shadow: none; }
  .post__side--back {
    transform: rotateX(0);
    padding: 3rem 4rem; }
  .post--project:hover .post__side--front {
    transform: rotateX(0); }
  .post--project:hover .post__side--back {
    transform: rotateX(0); }
  .post--project .post__details {
    margin-top: 1.5rem; }
  .post__content-back {
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(0); }
  .post__back-title {
    display: none; }
  .post__back-icon {
    font-size: 20rem;
    color: rgba(255, 255, 255, 0.65);
    position: absolute;
    top: 5rem;
    right: -5rem; } }

.header__navbar {
  background-color: #292639;
  height: 5rem;
  padding-top: 1rem; }

.header__logo-box {
  float: left;
  margin-left: 2rem; }

.header__logo-text:link, .header__logo-text:visited, .header__logo-text:active {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  background: linear-gradient(to right, #79ccff, #6271ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.header__top-navigation {
  float: right;
  margin-right: 2rem; }

.header__top-list {
  list-style: none; }

.header__top-link:link, .header__top-link:visited {
  color: #d0d0d0; }

.header__top-link:hover {
  color: #edf7ff; }

.header__hero {
  height: 30rem;
  background: url("../img/header-bg.jpeg"), linear-gradient(to right bottom, #79ccff, #6271ff);
  background-blend-mode: screen;
  background-size: 100%;
  background-position: center center;
  position: relative; }

.header__bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem; }

.header__avatar-box {
  position: relative;
  height: 7rem; }

.header__avatar {
  position: absolute;
  top: -16.5rem;
  left: 50%;
  transform: translateX(-50%); }
  @media (max-width: 59.375em) {
    .header__avatar {
      top: -12rem; } }
  @media (max-width: tab-port) {
    .header__avatar {
      top: -12rem; } }

.header__image {
  border-radius: 50%;
  border: 1rem solid #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 59.375em) {
    .header__image {
      width: 200px;
      height: 200px; } }
  @media (max-width: tab-port) {
    .header__image {
      width: 200px;
      height: 200px; } }
  @media (max-width: 37.5em) {
    .header__image {
      border-radius: 5px;
      border: 2px solid #edf7ff; } }
  @media (max-width: phone) {
    .header__image {
      border-radius: 5px;
      border: 2px solid #edf7ff; } }

@media (max-width: 37.5em) {
  .header__name-and-contact {
    position: absolute;
    top: 13rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: table;
    vertical-align: middle; } }

@media (max-width: phone) {
  .header__name-and-contact {
    position: absolute;
    top: 13rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    display: table;
    vertical-align: middle; } }

.header__name {
  float: left; }
  @media (max-width: 37.5em) {
    .header__name {
      display: table-cell;
      margin-right: 1rem; } }
  @media (max-width: phone) {
    .header__name {
      display: table-cell;
      margin-right: 1rem; } }

.header__name-text {
  color: #fff;
  font-size: 3.6rem;
  line-height: 1;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }
  @media (max-width: 37.5em) {
    .header__name-text {
      font-size: 3.6rem;
      font-weight: 500;
      color: #000;
      text-shadow: none; } }
  @media (max-width: phone) {
    .header__name-text {
      font-size: 3.6rem;
      font-weight: 500;
      color: #000;
      text-shadow: none; } }

.header__contact {
  float: right;
  margin-top: 0.5rem; }
  @media (max-width: 37.5em) {
    .header__contact {
      margin-top: 0;
      display: table-cell;
      margin-left: 1rem; } }
  @media (max-width: phone) {
    .header__contact {
      margin-top: 0;
      display: table-cell;
      margin-left: 1rem; } }

@media (max-width: 37.5em) {
  .header__optional-me {
    display: none; } }

@media (max-width: phone) {
  .header__optional-me {
    display: none; } }

.header__navigation {
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  @media (max-width: 37.5em) {
    .header__navigation {
      height: 17rem; } }
  @media (max-width: phone) {
    .header__navigation {
      height: 17rem; } }

.header__list {
  list-style: none;
  font-size: 0;
  /* Eliminate spacing between inline block elements */
  text-align: justify;
  width: 100%;
  margin: 0;
  padding: 0 3rem;
  margin-top: 1.2rem; }
  @media (max-width: 37.5em) {
    .header__list {
      border-top: 1px solid #777777;
      padding-top: 1.5rem;
      margin-top: 9.7rem; } }
  @media (max-width: phone) {
    .header__list {
      border-top: 1px solid #777777;
      padding-top: 1.5rem;
      margin-top: 9.7rem; } }
  .header__list:after {
    content: 'abc';
    display: inline-block;
    width: 100%;
    height: 0; }

.header__list-item {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600; }

.header__link, .header__link:link, .header__link:visited {
  color: #777777; }

.header__link--active:link, .header__link--active:visited {
  color: #6271ff; }

.header__link:hover, .header__link:focus {
  outline: none;
  color: #6271ff; }

.sidebar {
  margin-top: 4rem; }

.main {
  margin-top: 4rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media (max-width: 75em) {
    .row {
      max-width: 102.4rem; } }
  @media (max-width: tab-land) {
    .row {
      max-width: 102.4rem; } }
  @media (max-width: 59.375em) {
    .row {
      max-width: 88rem; } }
  @media (max-width: tab-port) {
    .row {
      max-width: 88rem; } }
  @media (max-width: 750px) {
    .row {
      max-width: 73rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 75em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
    @media (max-width: tab-land) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row::after {
    content: "";
    clear: both;
    display: block;
    height: 0; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 75em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 3rem; } }
      @media (max-width: tab-land) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 3rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
    @media (max-width: 75em) {
      .row .col-1-of-2 {
        width: calc((100% - 3rem) / 2); } }
    @media (max-width: tab-land) {
      .row .col-1-of-2 {
        width: calc((100% - 3rem) / 2); } }
  .row .col-1-of-3 {
    width: calc((100% - 6rem * 2) / 3); }
    @media (max-width: 75em) {
      .row .col-1-of-3 {
        width: calc((100% - 3rem * 2) / 3); } }
    @media (max-width: tab-land) {
      .row .col-1-of-3 {
        width: calc((100% - 3rem * 2) / 3); } }
    @media (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: 100%; } }
    @media (max-width: phone) {
      .row .col-1-of-3 {
        width: 100%; } }
  .row .col-2-of-3 {
    width: calc((2*(100% - 6rem * 2) / 3) + 6rem); }
    @media (max-width: 75em) {
      .row .col-2-of-3 {
        width: calc((2*(100% - 3rem * 2) / 3) + 3rem); } }
    @media (max-width: tab-land) {
      .row .col-2-of-3 {
        width: calc((2*(100% - 3rem * 2) / 3) + 3rem); } }
    @media (max-width: 37.5em) {
      .row .col-2-of-3 {
        width: 100%; } }
    @media (max-width: phone) {
      .row .col-2-of-3 {
        width: 100%; } }
  .row .col-1-of-4 {
    width: calc((100% - 6rem * 3) / 4); }
    @media (max-width: 75em) {
      .row .col-1-of-4 {
        width: calc((100% - 3rem * 3) / 4); } }
    @media (max-width: tab-land) {
      .row .col-1-of-4 {
        width: calc((100% - 3rem * 3) / 4); } }
  .row .col-2-of-4 {
    width: calc((2 * (100% - 6rem * 3) / 4) + 6rem); }
    @media (max-width: 75em) {
      .row .col-2-of-4 {
        width: calc((2 * (100% - 3rem * 3) / 4) + 3rem); } }
    @media (max-width: tab-land) {
      .row .col-2-of-4 {
        width: calc((2 * (100% - 3rem * 3) / 4) + 3rem); } }
  .row .col-3-of-4 {
    width: calc((3 * (100% - 6rem * 3) / 4) + (2 * 6rem)); }
    @media (max-width: 75em) {
      .row .col-3-of-4 {
        width: calc((3 * (100% - 3rem * 3) / 4) + (2 * 3rem)); } }
    @media (max-width: tab-land) {
      .row .col-3-of-4 {
        width: calc((3 * (100% - 3rem * 3) / 4) + (2 * 3rem)); } }

.footer {
  background-color: #292639;
  height: 5rem;
  padding-top: 1rem; }
  .footer__logo-box {
    float: left;
    margin-left: 2rem; }
  .footer__logo-text:link, .footer__logo-text:visited, .footer__logo-text:active {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(to right, #79ccff, #6271ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }
  .footer__copyright {
    float: right;
    margin-right: 2rem;
    color: #fff; }

.body-home {
  background-color: #edf7ff; }
