// Colors
$color-navbar: #292639;

$color-primary-1: #6271ff;
$color-primary-2: #79ccff;

$color-secondary-1: #ff2e72;
$color-secondary-2: #feab79;

$color-grey-light: #edf7ff;
$color-grey-light-2: #d0d0d0;

$color-grey-dark-1: #777777;
$color-grey-dark-2: #333333;

$color-shutdown: #e93e82;

$color-white: #fff;
$color-black: #000;


// GRID
$grid-width: 114rem;
$grid-width-medium: 102.4rem;
$grid-width-small: 88rem;
$grid-width-extra-small: 73rem;

$gutter-horizontal: 8rem;
$gutter-horizontal-medium: 4rem;

$gutter-vertical: 6rem;
$gutter-vertical-medium: 3rem;