.form {
    

    &__group {
        margin: 0 auto;
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__input {
        width: 100%;
        padding: 1.5rem 2rem;
        background-color: $color-white;
        border: 1px solid $color-primary-2;
     
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-color: $color-primary-1;
        }

        &:focus:invalid {
            border-color: $color-secondary-1;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-1;
        }
    }
}