.progress {

    &__title {
        font-size: 1.6rem;
        font-weight: $fw-bold;
        // margin-bottom: 0.5rem;
    }

    &__bar {
        position: relative;
        

        &::-webkit-progress-bar{
            width: 43rem;
            height: 0.5rem;
            margin-top: -1rem;
            margin-bottom: 1rem;
            background-color: $color-grey-light-3;
        }

        &::-webkit-progress-value {
            position: relative;
            background: linear-gradient(to right, $color-primary-2, $color-primary-1);
        }

        &::after {
            position: absolute;
            content: attr(value)'%';
            font-weight: $fw-bold;
            right: 0;
            top: -3.8rem;
        }

    }
}
