.about-content {
    background-color: $color-white;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);

    .section-overview {
        padding-top: 1rem;
        margin-bottom: 3rem;

        &__personal-details {
            border-spacing: 4rem 0;
            margin: 0 -4rem;
        }
    }
    
    .section-education {
        padding: 3rem 0;
    }
    .section-experience {
        padding: 3rem 0;
    }
    .section-accomplishments {
        padding: 3rem 0;
    }
    .section-major-projects {
        padding: 3rem 0;
    }
    .section-references {
        padding: 3rem 0;
    }
    .section-hobbies {
        padding: 3rem 0;
    }
}